<template>
    <v-app>
      <v-navigation-drawer app
      >
        <v-toolbar flat>
          <v-list>
            <v-list-tile>
              <v-list-tile-title class="title">
                PovBlend Gallery
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-toolbar>
        <v-divider></v-divider>
        <v-list dense class="pt-0">
          <v-list-tile v-for="item in navDrawerLinks" :key="item.title" :to="item.to" >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
        <v-toolbar app>
             <v-spacer></v-spacer>
              <v-btn v-if="!$auth.check()" flat><router-link  to="/login">login</router-link></v-btn>
              <v-btn v-if="!$auth.check()" flat><router-link  to="/register">Register</router-link></v-btn>
              <v-btn v-if="$auth.check()" flat><router-link  :to="'/users/'+$auth.user().id">{{$auth.user().name}}</router-link></v-btn>
              <v-btn v-if="$auth.check()" flat><a  v-on:click="$auth.logout()">logout</a></v-btn>
        </v-toolbar>
        <v-content>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer app></v-footer>
    </v-app>
</template>

<script>
import vue from 'vue';
export default vue.extend({
  mounted() {
    console.log('AppVue Mounted');
  },
  data() {
    return {
      navDrawerLinks : [
                  { title: 'Inicio', icon: 'dashboard', to:'/' },
                  { title: 'Usuarios', icon: 'question_answer', to: '/users' },
                  { title: 'Escenas de Blender', icon: 'question_answer', to: '/blender' },
                  { title: 'Escenas de PovRay', icon: 'question_answer', to: '/povs' },
      ],
    };
  },
});
</script>
