<template>
    <div class="image-list-container">
        <div class="image-card-container d-inline-block" v-for="items in images" :key="items.id">
            
        <div>
            <router-link :to="items.link">
              <div>
            <img
            class="image-container"
                :src="items.src"
                height="200px"
                width="200px"
                >
                <div class="image-title">{{items.title}}</div>
            </div>
            </router-link>
            </div>
        </div>
    </div>

</template>
<script>
import vue from 'vue';
import axios from 'axios';
export default  vue.extend({
    props: {
        images:Array,
    },

    mounted() {
    }
    
});
</script>
<style>
div.image-card-container{
    padding: 10px;
}
div.image-list-container {
    overflow: scroll;
    white-space: nowrap;
}
div.image-title {
text-align: center;
}
</style>


