<template>
   <div>
       <div v-show="message.show">{{message.content}}</div>
            <v-container grid-list-md text-xs-center>
                 <v-layout row wrap>
                     <v-flex xs12>
                        <v-text-field label="Titulo" type="text" required name='title' v-model='title'></v-text-field>
                    </v-flex>
                     <v-flex xs6>
                        <label>Imagen Principal: </label><input required type="file" accept ="image/*" name="main_image" @change="onMainImageFileChange"/>
                    </v-flex>
                     <v-flex xs6>
                        <label>Imagenes Extras (multiples): </label><input type="file" accept ="image/*" name="extra_images" @change="onExtraImagesFileChange" multiple/>
                    </v-flex>
                     <v-flex xs6>
                        <label>Archivos GLTF (multiples): </label><input type="file" name="gltf_files" accept=".glb" @change="onGltfFileChange"/>
                    </v-flex>
                     <v-flex xs6>
                            <label> Archivo Blend: </label><input type="file" name="blend" accept=".blend" @change="onBlendFileChange" />
                    </v-flex>
                     <v-flex xs12>
                        <v-btn v-show="uploading" @click="upload">SUBIR</v-btn>
                                  <atom-spinner
                                :animation-duration="1000"
                                :size="60"
                                :color="'#ff1d5e'"
                              />
                    </v-flex>
       </v-layout>
       </v-container>
   </div> 
</template>
<script>
import axios from "axios";
import vue from "vue";
import {AtomSpinner} from 'epic-spinners'
export default {
  components: {
      AtomSpinner
    },
  data() {
    return {
      mainImage: {},
      extraImages: {},
      gltfFiles: {},
      blendFile: {},
      title: "",
      message: {
        type: "",
        content: "",
        show: false
      }
    };
  },
  methods: {
    onMainImageFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.mainImage = files;
    },
    onExtraImagesFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.extraImages = files;
    },
    onGltfFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.gltfFiles = files;
    },
    onBlendFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.blendFile = files;
    },
    upload() {
      const formData = new FormData();
      formData.append("main_image", this.mainImage[0]);
      console.log(this.extraImages);
      for(let i = 0; i < this.extraImages.length; i++) {
        formData.append("extra_images[]", this.extraImages[i]);
      }
      formData.append("gltf_file", this.gltfFiles[0]);
      formData.append("blend_file", this.blendFile[0]);
      formData.append("title", this.title);
      axios
        .post("blends", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          if (response.data.message.type === "error") {
            this.message.content = response.data.message.content;
            this.message.show = true;
          } else if (response.data.message.type === "success") {
            this.$router.push("/blender");
          }
        });
    }
  }
};
</script>

