<template>
   <div id="blendershow">
       <h1>{{blend.title}}</h1>
       <v-chip>Autor: {{blend.user.name}}</v-chip>
        
        <v-dialog v-if="$auth.user().id ==blend.user.id" v-model="dialog" persistent max-width="290">
      <v-btn slot="activator" color="warning" dark>Eliminar</v-btn>
      <v-card>
        <v-card-title class="headline">¿De verdad quieres eliminarlo?</v-card-title>
        <v-card-text>No hay vuelta atras.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click.native="confirmDeleteHandler(true)">Sí</v-btn>
          <v-btn color="green darken-1" flat @click.native="confirmDeleteHandler(false)">No</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
      <v-btn color="primary" dark @click="onDownload">Descargar Blend</v-btn>
            <v-container grid-list-md text-xs-center>
                 <v-layout row wrap>
                     <v-flex xs4 v-for="image in images" :key="image">
      <img @click="showImage(image)"
          :src="image"
          height="200px"
        >
                    </v-flex>
       </v-layout>
       </v-container>
        <v-dialog  v-model="imageDialog">
      <v-card>
            <img
          :src="dialogImageUrl"
         class="image-dialog"
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info" flat @click.native="imageDialog=false">Cerrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
       <label>Renderizar Blender: </label>
       <v-btn-toggle v-model="renderBlender">
         <v-btn flat>No
              </v-btn>
         <v-btn flat>Yup
              </v-btn>
       </v-btn-toggle>
      <label>Sobreescribir materiales: </label> <v-btn-toggle v-model="overrideMaterial">
         <v-btn flat>No
              </v-btn>
         <v-btn flat>Yup
              </v-btn>
       </v-btn-toggle>
       <blender-renderer class="blenderRender" v-if="gltfUrl !== '' && renderBlender == true" :gltfUrl="gltfUrl" :overrideMaterial="overrideMaterial"></blender-renderer>
       </div> 

</template>
<script>
import vue from "vue";
import axios from "axios";
import download from 'downloadjs';
import blenderRenderer from './Renderer';
export default vue.extend({
  props: {
    id: 0
  },
  components: {
    'blender-renderer':blenderRenderer,
  },
  computed:{
    images(){
      const imageFiles = []; 
      for(let i = 0; i < this.blend.files.length; i++) {
        const file = this.blend.files[i];
        if(file.type === 'main_image' || file.type === 'extra_image') {
          imageFiles.push(file.file_location);
        }
      }
      return imageFiles;

    }
  },
  data() {
    return {
      blend: { title: "",files:[], user: { name: "" } },
      dialog: false,
      imageDialog: false,
      dialogImageUrl:'',
      gltfUrl:'',
      renderBlender: 0,
      overrideMaterial: 0,
    };
  },
  methods: {
    showImage(image) {
        this.dialogImageUrl = image;
        this.imageDialog = true;
    },
    onDownload() {
      for(let i = 0; i < this.blend.files.length; i++) {
        const file = this.blend.files[i];
        if(file.type === 'blend') {
          download(file.file_location);
          break;
        }
      }
    },
    confirmDeleteHandler(confirm) {
      this.dialog = false;
      if (confirm) {
        const url = `blends/${this.id}`;
        axios.delete(url).then(response => {
          this.$router.push("/");
        });
      }
    },
    fetchBlend(id) {
      console.log("Fetching Blend");
      const url = `blends/${id}`;
      axios.get(url).then(response => {
        this.blend = response.data;
        for (let i = 0; i < this.blend.files.length; i++) {
          if (this.blend.files[i].type === "bin") {
            const gltf = this.blend.files[i];
            this.gltfUrl = gltf.file_location;
            break;
          }
        }
      });
    }
  },
  mounted() {
    this.fetchBlend(this.id);
  },
});
</script>
<style>
#three {
  width: 75%;
  height: 500px;
}
img.image-dialog {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 600px;
}
.blenderRender {
  margin-top:20px;
  margin-left:auto;
  margin-right: auto;
}
</style>
