<template>
   <div>
    <v-btn v-if="$auth.check()" flat><router-link  to="/blender/create">Agregar</router-link></v-btn>
 <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex v-for="i in blends" :key="i" xs4>
        <v-card dark color="blue darken-1" :to="'/blender/'+ i.id">
            <v-card-media
          :src="i.files[0].file_location"
          height="200px"
        ></v-card-media>
          <v-card-text class="px-0">{{i.title}}</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
          
          </v-flex>
    </v-layout>
  </v-container>
   </div> 
</template>
<script>
import vue from 'vue';
import axios from 'axios';
import imageListCorousel from '../ImageListCorousel';
export default vue.extend({
    components:{
        'image-list-corousel':imageListCorousel,
    },
   props: {
       id:String,
   },
   mounted() {
       this.fetchBlends();
   },
   data() {
       return {
           blends: [
           ],

       }
   },
   computed:{
       rowNum(){
           return Math.ceil(this.blends.length / 4);
       },
   },
      methods: {
          vCardOnClick(id) {
              this.$router.push('/blender/id')
              console.log("eyy");
          },
          fetchBlends() {
            console.log('Fetching Blends');
            const url = 'blends?type=gallery' ;
            axios.get(url).then((response)  => {
                this.blends = response.data;
            });
          }
      }
    
});
</script>
