<template>
<div>
      <atom-spinner
      class="spinner-atom"
      v-show="three.loading"
  :animation-duration="1000"
  :size="60"
  :color="'#ff1d5e'"
/>
       <div v-show="!three.loading" id="three">
        </div>
        </div>
</template>

<script>
import {
  Scene,
  Mesh,
  BoxGeometry,
  MeshNormalMaterial,
  PerspectiveCamera,
  WebGLRenderer,
  HemisphereLight,
  MeshPhongMaterial,
  AmbientLight
} from "three";
import { GLTFLoader } from "three/examples/js/loaders/GLTFLoader";
import { OrbitControls } from "three/examples/js/controls/OrbitControls";
import { DRACOLoader } from "three/examples/js/loaders/DRACOLoader";
import vue from 'vue';
import {AtomSpinner} from 'epic-spinners'
export default vue.extend({
    props: {
        overrideMaterial: {
            default:true
        },
        gltfUrl: {
            default:'',
        }
    },
  components: {
      AtomSpinner
    },
  data() {
    return {
      three: {
        camera: null,
        scene: null,
        renderer: null,
        mesh: null,
        scene: null,
        controls: null,
        blenderGltfFile: "",
        loading: false,
      },
    };
  },
  methods: {
    init: function() {
      const three = this.three;
      const container = document.getElementById("three");
      three.camera = new PerspectiveCamera(
        45,
        container.clientWidth / container.clientHeight,
        0.25,
        200
      );
      three.camera.position.set(-1.8, 0.9, 2.7);
      three.controls = new OrbitControls(three.camera);
      three.controls.target.set(0, -0.2, -0.2);
      three.controls.update();
      three.scene = new Scene();
      const light = new HemisphereLight(0xbbbbff, 0x444422);

      light.position.set(0, 1, 0);
      three.scene.add(light);
      this.loadGltf(this.gltfUrl);
      three.renderer = new WebGLRenderer({ antialias: true, alpha: true });
      three.renderer.gammaOutput = true;
      three.renderer.setPixelRatio(window.devicePixelRatio);
      three.renderer.setSize(container.clientWidth, container.clientHeight);
      three.renderer.setClearColor(0x686868, 0.1);
      container.appendChild(three.renderer.domElement);
      three.renderer.render(three.scene, three.camera);
    },
    animate: function() {
      const three = this.three;
      requestAnimationFrame(this.animate);
      three.renderer.render(three.scene, three.camera);
    },
    loadGltf: function(url) {
      const loader = new GLTFLoader();
      const three = this.three;
      const self = this;
      three.loading = true;
      loader.setDRACOLoader(new DRACOLoader());
      loader.load(
        url,
        function(gltf) {
          three.loading = false;
          three.scene.add(gltf.scene || gltf.scenes[0]);
          if(self.overrideMaterial){
            three.scene.overrideMaterial = new MeshPhongMaterial( { color: 0xFFFFFF } );
          }
        },
        function(xhr) {
          console.log(xhr.loaded / xhr.total * 100 + "% loaded");
        },
        function(err) {
          three.loading = false;
          console.log("An error happened");
        }
      );
    },
  },
  mounted() {
    this.init();
    this.animate();
  },
  beforeDestroy() {
    const three = this.three;
    three.controls.dispose();
    three.renderer.dispose();
  }
});
</script>
<style>
#three {
  width: 75%;
  height: 500px;
}
.spinner-atom {
  width: 50%;
  margin: 0 auto;
}
</style>

