<template>
   <div>
       <div v-show="message.show">{{message.content}}</div>
            <v-container grid-list-md text-xs-center>
                 <v-layout row wrap>
                     <v-flex xs12>
                        <v-text-field label="Titulo" type="text" required name='title' v-model='title'></v-text-field>
                    </v-flex>
                     <v-flex xs6>
                        <label>Imagen Principal: </label><input required type="file" accept ="image/*" name="main_image" @change="onMainImageFileChange"/>
                    </v-flex>
                     <v-flex xs6>
                        <label>Imagenes Extras (multiples): </label><input type="file" accept ="image/*" name="extra_images" @change="onExtraImagesFileChange" multiple/>
                    </v-flex>
                     <v-flex xs6>
                            <label> Archivo Pov: </label><input type="file" name="pov" accept=".pov" @change="onPovFileChange" />
                    </v-flex>
                     <v-flex xs12>
                        <v-btn @click="upload">SUBIR</v-btn>
                    </v-flex>
       </v-layout>
       </v-container>
   </div> 
</template>
<script>
import axios from "axios";
import vue from "vue";
export default {
  data() {
    return {
      mainImage: {},
      extraImages: {},
      povFile: {},
      title: "",
      message: {
        type: "",
        content: "",
        show: false
      }
    };
  },
  methods: {
    onMainImageFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.mainImage = files;
    },
    onExtraImagesFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.extraImages = files;
    },
    onPovFileChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.povFile = files;
    },
    upload() {
      const formData = new FormData();
      formData.append("main_image", this.mainImage[0]);
      console.log(this.extraImages);
      for(let i = 0; i < this.extraImages.length; i++) {
        formData.append("extra_images[]", this.extraImages[i]);
      }
      formData.append("pov_file", this.povFile[0]);
      formData.append("title", this.title);
      axios
        .post("povs", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          if (response.data.message.type === "error") {
            this.message.content = response.data.message.content;
            this.message.show = true;
          } else if (response.data.message.type === "success") {
            this.$router.push("/povs");
          }
        });
    }
  }
};
</script>

