<template>
   <div>
       <h1>{{pov.title}}</h1>
       <v-chip>Autor: {{pov.user.name}}</v-chip>
        
        <v-dialog v-if="$auth.user().id ==pov.user.id" v-model="dialog" persistent max-width="290">
      <v-btn slot="activator" color="warning" dark>Eliminar</v-btn>
      <v-card>
        <v-card-title class="headline">¿De verdad quieres eliminarlo?</v-card-title>
        <v-card-text>No hay vuelta atras.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click.native="confirmDeleteHandler(true)">Sí</v-btn>
          <v-btn color="green darken-1" flat @click.native="confirmDeleteHandler(false)">No</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
      <v-btn color="primary" dark @click="onDownload">Descargar Pov</v-btn>
            <v-container grid-list-md text-xs-center>
                 <v-layout row wrap>
                     <v-flex xs4 v-for="image in images" :key="image">
      <img @click="showImage(image)"
          :src="image"
          height="200px"
        >
                    </v-flex>

      <v-flex xs12>
          <pre v-highlightjs="povFilecontent" >
              <code class="java">
        </code></pre>
          </v-flex>
       </v-layout>
       </v-container>
        <v-dialog  v-model="imageDialog">
      <v-card>
            <img
          :src="dialogImageUrl"
         class="image-dialog"
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info" flat @click.native="imageDialog=false">Cerrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
       </div> 

</template>
<script>
import vue from "vue";
import axios from "axios";
import download from 'downloadjs';
export default vue.extend({
  props: {
    id: 0
  },
  computed:{
    images(){
      const imageFiles = []; 
      for(let i = 0; i < this.pov.files.length; i++) {
        const file = this.pov.files[i];
        if(file.type === 'main_image' || file.type === 'extra_image') {
          imageFiles.push(file.file_location);
        }
      }
      return imageFiles;

    }
  },
  data() {
    return {
      pov: { title: "",files:[], user: { name: "" } },
      dialog: false,
      imageDialog: false,
      dialogImageUrl: "",
      povFilecontent:'',
    };
  },
  methods: {
    confirmDeleteHandler(confirm) {
      this.dialog = false;
      if (confirm) {
        const url = `povs/${this.id}`;
        axios.delete(url).then(response => {
          this.$router.push("/");
        });
      }
    },
    onDownload() {
      for(let i = 0; i < this.pov.files.length; i++) {
        const file = this.pov.files[i];
        if(file.type === 'pov') {
          download(file.file_location);
          break;
        }
      }
    },
    showImage(image) {
        this.dialogImageUrl = image;
        this.imageDialog = true
    },
    fetchPov(id) {
      console.log("Fetching Blend");
      const url = `povs/${id}`;
      axios.get(url).then(response => {
        this.pov = response.data;
        for (let i = 0; i < this.pov.files.length; i++) {
          if (this.pov.files[i].type === "pov") {
              const instance = axios.create({
                baseURL: 'http://127.0.0.1:8000/'
            });
            instance.get(this.pov.files[i].file_location).then((response)=> {
            this.povFilecontent = response.data;
            });
            break;
          }
        }
      });
    }
  },
  mounted() {
    this.fetchPov(this.id);
  },
});
</script>
<style>
img.image-dialog {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
</style>
