<template>
   <div>
    <v-btn v-if="$auth.check() && $auth.user() == id" flat><router-link  to="/blender/create">Agregar</router-link></v-btn>
  <v-expansion-panel>
    <v-expansion-panel-content>
      <div slot="header">Escenas en Blender</div>
        <image-list-corousel
        :images="images"
        ></image-list-corousel>
    </v-expansion-panel-content>
    <v-expansion-panel-content>
      <div slot="header">Escenas en PovRay</div>
        <image-list-corousel
        :images="images"
        ></image-list-corousel>
    </v-expansion-panel-content>
  </v-expansion-panel>
   </div> 
</template>
<script>
import vue from 'vue';
import axios from 'axios';
import imageListCorousel from '../ImageListCorousel';
export default vue.extend({
    components:{
        'image-list-corousel':imageListCorousel,
    },
   props: {
       id:String,
   },
   mounted() {
       this.fetchUser(this.id);
   },
   data() {
       return {
           user:{},
           images: [
               {
                   id:1,
                   title:1,
                   link:"",
               },
               {
                   id:2,
                   title:2,
                   link:""
               },
               {id:3,
                   title:2,
                   link:""
               },
               {id:4,
                   title:2,
                   link:""
               },
               {id:5,
                   title:2,
                   link:""
               },
               {id:7,
                   title:2,
                   link:""
               },
               {id:8,
                   title:2,
                   link:""
               },
               {id:9,
                   title:2,
                   link:""
               },
               ]

       }
   },
      methods: {
          fetchUser(id) {
            console.log('Fetching User with id '+ id + '...');
            const url = '/users/' + id;
            axios.get(url).then((response)  => {
                this.user = response.data;
            });
          }
      }
    
});
</script>
