<template>
    <div>
        <v-data-table :headers="headers" :items="users" class="elevation-1">
            <template slot="items" slot-scope="props">
                <td>
                    <router-link :to="`/users/${props.item.id}`">{{ props.item.name }}</router-link>
                </td>
                <td>{{ props.item.contributionCount }}</td>
            </template>
        </v-data-table>
    </div>
</template>
<script>
import vue from 'vue';
import axios from 'axios';
export default vue.extend({
  mounted() {
    this.fetchUsers();
  },
  data() {
    return {
      users : [],
      headers: [
        { text: 'name', value: 'Nombre de usuario' },
        { text: 'contributions', value: 'Contribuciones' },
      ],
    };
  },
  methods: {
      fetchUsers() {
          console.log('Fetching Users...')
          const url = '/users/'
          axios.get(url).then((response)  => {
              this.users = [];
              response.data.forEach(element => {
                  this.users.push(element);
              });
          });

      }
  },
});
</script>
